<div id="footer">
    <div class="links flex-column md:flex-row">
        <div class="section">
            <img src="../assets/images/logo-red.svg" width="142" alt="footer Logo" />
            <p>
                Design amazing digital experiences that create more happy in the world.
            </p>
        </div>
        <div class="section">
            <h5>DEPARTMENTS</h5>
            <ul>
                <li><a href="">Halal airline meals</a></li>
                <li><a href="">Halal chain directory</a></li>
                <li><a href="">Halal manufacturers</a></li>
                <li><a href="">Halal certifying authorities</a></li>
                <li><a href="">Halal product directory</a></li>
            </ul>
        </div>
        <div class="section">
            <h5>ABOUT US</h5>
            <ul>
                <li><a href="">About us</a></li>
                <li><a href="">FAQ & Answers</a></li>
                <li><a href="">Advertise with us</a></li>
                <li><a href="">Media Coverage</a></li>
                <li><a href="">Terms of service</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </div>
        <div class="section">
            <h5>GET THE APP</h5>
            <img src="../assets/appstore-download-img.svg" width="135" alt="">
            <img src="../assets/playstore-download-img.svg" width="135" alt="">
        </div>
    </div>
    <div class="copyright">
        <p class="mt-0 mb-0">©1998-2024 Zabihah LLC</p>
        <div class="socials">
            <em class="twitter"></em>
            <em class="linkedin"></em>
            <em class="facebook"></em>
            <em class="instagram"></em>
        </div>
    </div>
</div>