// @import "../../../../styles.scss";
@import "../../../../colors.scss";
#placesSection {
  display: flex;
  padding: 48px 116px;
  width: fit-content;
  .filter {
    height: fit-content;
    width: fit-content;
  }
}

@media (max-width: 412px) and (min-width: 376px) {
  #placesSection {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .p-card {
    width: 96vw !important;
  }
}
