<div>
  <div class="halalPlaces">
    <div class="flex flex-column gap-4">
      <div class="header">
        <h4>Featured near you</h4>
        <p-button label="Map View" icon="map" class="viewStyleButton"></p-button>
      </div>

      <div class="cards">
        <p-card *ngFor="let item of featuredRestaurants" [style]="{ width: '296px' }">
          <ng-template pTemplate="header">
            <div class="cardHeaderCta">
              <!-- <p-chip label="New" class="success"></p-chip> -->
              <em class="likeHeartFilled"></em>
            </div>
            <div class="coverImage">
              <img alt="place Cover" [src]="item.coverImageWebUrl" (error)="onCoverImageError(item)" />
            </div>
          </ng-template>
          <div class="cardHeader">
            <div class="placeLogo">
              <img [src]="item.iconImageWebUrl" (error)="onLogoImageError(item)" alt="place logo" />
            </div>
            <div class="placeInfo">
              <h5 class="placeName" pTooltip="{{ item.name }}" tooltipPosition="top">{{ item.name }}</h5>
              <p class="placeAddress" pTooltip="{{ item.address }}" tooltipPosition="top">{{ item.address }}</p>
            </div>
            <div class="icons">
              <em *ngIf="item.offersDelivery" class="delivery"></em>
              <em class="phoneOutlined"></em>
            </div>
          </div>
          <div class="cardBody">
            <div class="left">
              <div class="ratings">
                <em class="ratingStarFilled"></em><span class="orange">{{ item.averageRating }}</span>
              </div>
              <div class="ratings">
                <em class="comment"></em><span>{{ item.totalReviews }}</span>
              </div>
              <div class="ratings">
                <em class="repeat"></em><span>{{ item.willReturnPercentage }}%</span>
              </div>
              <div class="ratings">
                <em class="image"></em><span>{{ item.totalPhotos }}</span>
              </div>
            </div>
            <div class="right">
              <em class="routing"></em><span>{{ item.distance?.distance | number : "1.0-0" }}m</span>
            </div>
          </div>
          <!-- <div class="cardFooter">
              <p-chip label="American"></p-chip>
              <p-chip label="Middle Eastern"></p-chip>
              <p-chip label="Deli"></p-chip>
            </div> -->
        </p-card>
      </div>
    </div>
  </div>
  <div class="mt-5 flex flex-column">
    <app-hilal-food></app-hilal-food>
    <p-button label="View More" (onClick)="navigateToUrl('hilal-food')" class="viewMoreButton text-center mt-5"></p-button>
  </div>
  <div class="mt-5 flex flex-column">
    <app-prayer-spaces></app-prayer-spaces>
    <p-button label="View More" (onClick)="navigateToUrl('prayer-spaces')" class="viewMoreButton text-center mt-5"></p-button>
  </div>
</div>