@import "../../../../styles.scss";
@import "../../../../colors.scss";
#heroSection {
  background-color: $red-primary;
  text-align: center;
  align-items: center;
  display: flex;
  position: relative;
  .backgroundImg {
    width: 100%;
    position: absolute;
    top: 0;
  }
  .mainContent {
    width: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .subHeading {
      font-size: 18px;
      color: $fontColorLight;
      font-weight: 400;
      margin-bottom: 5px;
    }
    .mainHeading {
      color: $fontColorLight;
      font-weight: 700;
      font-size: 43px;
      margin-top: 5px;
      .highlightedText {
        font-weight: 700;
        font-size: 43px;
        color: $highlightedText;
        position: relative;
        display: inline-flex;
        justify-content: center;
        &::before {
          content: url(../../../../assets/curved-line.svg);
          top: 1.5rem;
          position: absolute;
        }
      }
    }
    .filterSection {
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;
      .inputFields {
        display: flex;
        gap: 10px;
        .p-inputtext {
          width: 456px;
        }
      }
      .locationChips {
        display: inline-flex;
        gap: 10px;
        .p-chip {
          background-color: $red-secondary;
          border-radius: 50px;
          .p-chip-text {
            font-size: 14px;
            font-family: "Inter";
            font-weight: 500;
            color: $fontColorLight;
          }
        }
      }
    }
    .downloadAppSection {
      display: inline-flex;
      gap: 9px;
      padding-top: 60px;
    }
  }
  .bottomSection {
    .bottomRightImage {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .greenBar {
      width: 100%;
      height: 10px;
      position: absolute;
      background-color: $green-dark;
      border: none;
      bottom: -17px;
      left: 0;
    }
  }
}
#placesSection {
  margin-top: 48px;
  display: flex;
  padding: 0 116px;
  .filter {
    .p-card {
      border-radius: 16px;
      .p-card-content {
        padding-top: 0;
      }
      .p-card-title {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
      }
      .searchRadius {
        display: flex;
        flex-direction: column;
        h5 {
          margin-bottom: 8px;
          margin-top: 16px;
          font-family: "Inter";
          font-weight: 600;
          font-size: 16px;
          color: $grey;
        }
        .p-slider {
          .p-slider-range {
            background: $red-login;
          }
          .p-slider-handle {
            border-color: $red-login;

            &:hover {
              background: $red-login;
              border-color: $red-login;
            }
          }
        }
      }
      .HalalFilters {
        h5 {
          margin-bottom: 8px;
          margin-top: 28px;
          font-family: "Inter";
          font-weight: 600;
          font-size: 16px;
          color: $grey;
        }
        .filterList {
          display: flex;
          flex-direction: column;
          gap: 8px;
          .listItem {
            padding: 12px 16px 16px 12px;
            background-color: $disabled;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .p-inputswitch {
              .p-inputswitch-checked {
                .p-inputswitch-slider {
                  background: $red-primary !important;
                }
              }
            }
          }
        }
        .p-inputswitch-checked {
          .p-inputswitch-slider {
            background: $red-login !important;
          }
        }
      }
      .rating {
        h5 {
          margin-bottom: 8px;
          margin-top: 28px;
          font-family: "Inter";
          font-weight: 600;
          font-size: 16px;
          color: $grey;
        }
        .ratingVisual {
          display: flex;
          justify-content: space-between;
          .ratingNumber {
            font-family: "Inter";
            font-size: 16px;
            font-weight: 600;
            color: $red-login;
          }
        }
      }
    }
  }
  .placesCards {
    .header {
      display: flex;
      justify-content: space-between;
      h4 {
        margin-top: 0;
        font-size: 24px;
        font-family: "Inter";
        font-weight: 600;
        margin-bottom: 16px;
      }
      .p-button {
        padding: 8px 16px 8px 12px;
        border-radius: 48px;
        background: $grey;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        color: $fontColorLight;
        border: none;
        .p-button-label {
          font-weight: 600;
        }
      }
    }
    .cards {
      display: flex;
      gap: 16px;
      .p-card {
        box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
        box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
        border-radius: 8px;
        .p-card-header {
          position: relative;
          .cardHeaderCta {
            display: flex;
            justify-content: space-between;
            position: absolute;
            padding: 8px;
            width: 100%;
            .p-chip {
              background-color: $error;
              font-size: 14px;
              font-weight: 500;
              border-radius: 28px;
              color: $fontColorLight;
            }
          }
        }
        .p-card-body {
          padding: 12px 12px;
          .p-card-content {
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 0;
            .cardHeader {
              display: inline-flex;
              justify-content: space-between;
              align-items: flex-start;
              width: 100%;
              gap: 8px;
              .restaurantLogo {
                height: 42px;
              }
              .restaurantInfo {
                flex: 1;
                .restaurantName {
                  font-family: "Inter";
                  font-size: 16px;
                  font-weight: 600;
                  margin-top: 0px !important;
                  margin-bottom: 3px !important;
                }
                .restaurantAddress {
                  font-family: "Inter";
                  font-size: 13px;
                  font-weight: 400;
                  color: $grey;
                  margin-top: 3px !important;
                  margin-bottom: 0px !important;
                  white-space: nowrap;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  width: 8rem;
                }
              }
              .icons {
                display: flex;
                gap: 8px;
                justify-content: flex-end;
                .delivery,
                .phoneOutlined {
                  padding: 5px;
                  font-size: 20px;
                  border: 2px solid #e5e5e5;
                  border-radius: 10px;
                  box-shadow: 0px 1.25px 2.5px 0px #1018280d;
                  transition: 0.3s all ease-in-out;
                  &:hover {
                    cursor: pointer;
                    box-shadow: none;
                  }
                }
              }
            }
            .cardBody {
              background-color: #f8fafc;
              width: 100%;
              padding: 4px;
              gap: 4px;
              border-radius: 4px;
              display: inline-flex;
              justify-content: space-between;
              .left {
                display: inline-flex;
                gap: 8px;
                align-items: center;
                .ratings {
                  display: inline-flex;
                  gap: 2.44px;
                  .orange {
                    color: $orange;
                  }
                  em {
                    width: 14.67px;
                  }
                  span {
                    font-size: 13px !important;
                    font-weight: 600;
                  }
                }
              }
              .right {
                display: inline-flex;
                gap: 5px;
                align-items: center;
                span {
                  font-size: 13px !important;
                  font-weight: 600;
                  color: $red-primary;
                }
              }
            }
            .cardFooter {
              display: inline-flex !important;
              gap: 4px !important;
              .p-chip {
                background-color: $success-50per !important;
                border: 1px solid $success !important;
                border-radius: 50px !important;
                padding: 0px 10px !important;
                .p-chip-text {
                  font-weight: 500;
                  font-size: 14px;
                  color: $success !important;
                }
              }
            }
          }
        }
      }
    }

    .halalPlaces, .prayerPlaces {
      .foodCategories {
        display: inline-flex;
        gap: 8px;
        .category {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 5.7px;
          padding-bottom: 16px;
          .p-image {
            img {
              border: 3px solid rgba(255, 255, 255, 1);
              border-radius: 18px;
              box-shadow: 0px 2.89px 5.77px -2.89px rgba(16, 24, 40, 0.06);
              box-shadow: 0px 5.77px 11.54px -2.89px rgba(16, 24, 40, 0.1);
            }
          }
          .title {
            font-family: "Inter";
            font-size: 14px;
            font-weight: 500;
            margin-top: 0;
            color: rgba(82, 82, 82, 1);
          }
        }
      }
      .cards {
        .p-card {
          .p-card-header {
            .cardHeaderCta {
              .success{
                .p-chip {
                  background-color: $success;
                }
              }
            }
          }
        }
      }
    }
  }
}
