<div class="placesCards">
  <div class="halalPlaces flex flex-column gap-4">
    <div class="header">
      <h4>{{ totalRestaurants }} halal places near you</h4>
    </div>
    <div class="foodCategories">
      <p-carousel [value]="cusines" [numVisible]="8" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions">
        <ng-template pTemplate="item" let-item>
          <div class="category" (click)="getRestaurants(selectedLocation, keyword, item.name)">
            <p-image [src]="  item.iconImageWebUrl" (error)="onCuisineImageError(item)" alt="Cuisine Image" width="100"></p-image>
            <span class="title">{{ item.name }}</span>
          </div>
        </ng-template>
      </p-carousel>
    </div>
    <div class="cards">
      <p-card *ngFor="let item of restaurants" [style]="{ width: '296px' }">
        <ng-template pTemplate="header">
          <div class="cardHeaderCta">
            <!-- <p-chip label="New" class="success"></p-chip> -->
            <em class="likeHeartFilled"></em>
          </div>
          <div class="coverImage">
            <img alt="place Cover" [src]="item.coverImageWebUrl" (error)="onCoverImageError(item)" />
          </div>
        </ng-template>
        <div class="cardHeader">
          <div class="placeLogo">
            <img [src]="item.iconImageWebUrl" (error)="onLogoImageError(item)" alt="place logo" />
          </div>
          <div class="placeInfo">
            <h5 class="placeName" pTooltip="{{ item.name }}" tooltipPosition="top">{{ item.name }}</h5>
            <p class="placeAddress" pTooltip="{{ item.address }}" tooltipPosition="top">{{ item.address }}</p>
          </div>
          <div class="icons">
            <em *ngIf="item.offersDelivery" class="delivery"></em>
            <em class="phoneOutlined"></em>
          </div>
        </div>
        <div class="cardBody">
          <div class="left">
            <div class="ratings">
              <em class="ratingStarFilled"></em><span class="orange">{{ item.averageRating }}</span>
            </div>
            <div class="ratings">
              <em class="comment"></em><span>{{ item.totalReviews }}</span>
            </div>
            <div class="ratings">
              <em class="repeat"></em><span>{{ item.willReturnPercentage }}%</span>
            </div>
            <div class="ratings">
              <em class="image"></em><span>{{ item.totalPhotos }}</span>
            </div>
          </div>
          <div class="right">
            <em class="routing"></em><span>{{ item.distance?.distance | number : "1.0-0" }}m</span>
          </div>
        </div>
        <!-- <div class="cardFooter">
              <p-chip label="American"></p-chip>
              <p-chip label="Middle Eastern"></p-chip>
              <p-chip label="Deli"></p-chip>
            </div> -->
      </p-card>
    </div>
  </div>
</div>