@import "../../../../colors.scss";
.placesCards {
  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    h4 {
      margin-top: 0;
      font-size: 24px;
      font-family: "Inter";
      font-weight: 600;
      margin-bottom: 0;
    }
    .viewStyleButton {
      .p-button {
        padding: 8px 16px 8px 12px;
        border-radius: 48px;
        background: $grey;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        border: none;
        .p-button-label {
          font-weight: 600;
          color: $fontColorLight;
        }
      }
    }
  }
  .cards {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    .p-card {
      box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06);
      box-shadow: 0px 4px 8px -2px rgba(16, 24, 40, 0.1);
      border-radius: 8px;
      .p-card-header {
        position: relative;
        .coverImage {
          display: flex;
          justify-content: center;
          width: 296px;
          height: 190px;
          background-color: aquamarine;
          border-radius: 8px 8px 0px 0px;
          background: #f9d6d0;
          img {
            width: 30%;
          }
        }
        .cardHeaderCta {
          display: flex;
          justify-content: flex-end;
          position: absolute;
          padding: 8px;
          width: 100%;
          .success {
            .p-chip {
              background-color: $success;
            }
          }
          .p-chip {
            background-color: $error;
            font-size: 14px;
            font-weight: 500;
            border-radius: 28px;
            color: $fontColorLight;
          }
        }
      }
      .p-card-body {
        padding: 12px 12px;
        .p-card-content {
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding: 0;
          .cardHeader {
            display: inline-flex;
            // justify-content: space-between;
            align-items: flex-start;
            width: 100%;
            gap: 8px;
            .placeLogo {
              background-color: $grey-border;
              display: flex;
              border-radius: 100%;
              padding: 8.5px;
              overflow: hidden;
              position: relative;
              justify-content: center;
              align-items: center;
              img {
                max-width: 100%;
                max-height: 100%;
                width: 22px;
              }
            }
            .placeInfo {
              width: 9rem;
              .placeName {
                font-family: "Inter";
                font-size: 16px;
                font-weight: 600;
                margin-top: 0px !important;
                margin-bottom: 3px !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .placeAddress {
                font-family: "Inter";
                font-size: 13px;
                font-weight: 400;
                color: $grey;
                margin-top: 3px !important;
                margin-bottom: 0px !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 8rem;
              }
            }
            .icons {
              display: flex;
              gap: 8px;
              justify-content: flex-end;
              flex: 1;
              .delivery,
              .phoneOutlined {
                padding: 5px;
                font-size: 20px;
                border: 2px solid #e5e5e5;
                border-radius: 10px;
                box-shadow: 0px 1.25px 2.5px 0px #1018280d;
                transition: 0.3s all ease-in-out;
                &:hover {
                  cursor: pointer;
                  box-shadow: none;
                }
              }
            }
          }
          .cardBody {
            background-color: #f8fafc;
            width: 100%;
            padding: 4px;
            gap: 4px;
            border-radius: 4px;
            display: inline-flex;
            justify-content: space-between;
            .left {
              display: inline-flex;
              gap: 8px;
              align-items: center;
              .ratings {
                display: inline-flex;
                gap: 2.44px;
                .orange {
                  color: $orange;
                }
                em {
                  width: 14.67px;
                }
                span {
                  font-size: 13px !important;
                  font-weight: 600;
                }
              }
            }
            .right {
              display: inline-flex;
              gap: 5px;
              align-items: center;
              span {
                font-size: 13px !important;
                font-weight: 600;
                color: $red-primary;
              }
            }
          }
          .cardFooter {
            display: inline-flex !important;
            gap: 4px !important;
            .p-chip {
              background-color: $success-50per !important;
              border: 1px solid $success !important;
              border-radius: 50px !important;
              padding: 0px 10px !important;
              .p-chip-text {
                font-weight: 500;
                font-size: 14px;
                color: $success !important;
              }
            }
          }
        }
      }
    }
  }
  .viewMoreButton {
    .p-button {
      // width: 123px;
      height: 42px;
      padding: 9px 20px;
      border-radius: 8px;
      border: 2px solid $red-primary;
      background-color: $white;
      .p-button-label {
        color: $red-primary;
        font-weight: 500;
      }
    }
  }

  .halalPlaces {
    .foodCategories {
      display: inline-flex;
      gap: 8px;
      flex-wrap: wrap;
      .p-carousel-container {
        width: 66vw;
        margin-left: -18px;
        position: relative;
        .p-carousel-items-content {
          .p-carousel-items-container {
            .p-carousel-item {
              display: flex;
              justify-content: center;
            }
          }
        }
        .p-carousel-prev,
        .p-carousel-next {
          background-color: #ffffff;
          top: 30px;
          z-index: 2;
          position: absolute;
          &:focus {
            box-shadow: none;
          }
        }
        .p-carousel-prev {
          left: 10px;
        }
        .p-carousel-next {
          right: 0px;
        }
      }
      .p-carousel-indicators {
        display: none;
      }
      .category {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5.7px;
        // padding-bottom: 16px;
        width: fit-content;
        .p-image {
          img {
            border: 3px solid rgba(255, 255, 255, 1);
            border-radius: 18px;
            box-shadow: 0px 2.89px 5.77px -2.89px rgba(16, 24, 40, 0.06);
            box-shadow: 0px 5.77px 11.54px -2.89px rgba(16, 24, 40, 0.1);
            transition: 0.3s all ease-in-out;
            &:hover {
              cursor: pointer;
              box-shadow: none;
            }
          }
        }
        .title {
          font-family: "Inter";
          font-size: 14px;
          font-weight: 500;
          margin-top: 0;
          color: rgba(82, 82, 82, 1);
        }
      }
    }
  }
}
