<div id="heroSection">
    <!-- <img class="backgroundImg" src="../../assets/food-texture-header-bg.svg" alt="" /> -->
    <div class="mainContent">
        <div class="headerContent">
            <h5 class="subHeading">
                The original & world's largest guide to Halal restaurants & markets
            </h5>
            <h3 class="mainHeading">
                Serving <span class="highlightedText">Halal foodies</span> for over 20
                years
            </h3>
        </div>
        <div class="filterSection">
            <div class="inputFields col-12 flex-column md:flex-row" style="width: 100%;">
                <span class="p-input-icon-left">
                    <i class="location"></i>
                    <input type="text" pInputText placeholder="Searching around your current location" />
                </span>
                <span class="p-input-icon-left">
                    <i class="search"></i>
                    <input type="text" pInputText placeholder="Filter results" />
                </span>
                <button (click)="findplaces()" pButton pRipple label="GO" class="p-button-success"></button>
            </div>
            <div class="locationChips">
                <p-chip label="Near me"></p-chip>
                <p-chip label="USA"></p-chip>
                <p-chip label="Canada"></p-chip>
                <p-chip label="UK"></p-chip>
                <p-chip label="Eurasia"></p-chip>
                <p-chip label="Asia Pacific"></p-chip>
                <p-chip label="Mideast"></p-chip>
                <p-chip label="Americas"></p-chip>
                <p-chip label="Africa"></p-chip>
                <p-chip label="South Asia"></p-chip>
            </div>
        </div>
        <div class="downloadAppSection">
            <img src="../../assets/appstore-download-img.svg" alt="" />
            <img src="../../assets/playstore-download-img.svg" alt="" />
        </div>
    </div>
    <div class="bottomSection">
        <img class="bottomRightImage" src="../../assets/people-img-header.svg" alt="" />
        <hr class="greenBar" />
    </div>
</div>