<div id="reviews">
  <div class="latestReviews">
    <div class="heading">
      <h4>Featured Reviews</h4>
      <span>as selected by our editors</span>
    </div>
    <div class="reviewCards">
      <div class="card flex flex-column gap-4 align-items-start">
        <div class="flex align-items-start gap-2">
          <img
            class="photo"
            src="../../../../../assets/images/review.svg"
            alt=""
          />
          <div class="infoChip flex flex-column gap-2">
            <div class="info flex flex-column gap-1 align-items-start">
              <h5 class="name">Shahana Steakhouse</h5>
              <span class="address"
                >2285 140th Avenue NE, Bellevue, WA 98005</span
              >
            </div>
          </div>
        </div>
        <div class="tags flex gap-2">
          <span class="chip">American</span>
          <span class="chip">American</span>
          <span class="chip">American</span>
        </div>
        <p class="text-left">
          Amazing and Excellent fresh food. I visit too many places this month,
          and today was my last day here in Seattle, and we found out about this
          restaurant. The guy was there; I assumed he was the owner.
        </p>
        <div class="reviewer">
          <div class="flex align-items-start gap-2">
            <div class="reviewerImage">
              <img src="../../../../../assets/icons/person-2.svg" alt="" />
            </div>
            <div class="flex flex-column">
              <div class="info flex gap-1">
                <p class="name text-left">Sunil Kumar</p>
                <p class="address">Sammamish, WA</p>
              </div>
              <div class="rating flex gap-1">
                <em class="ratingStarFilled"></em>
                <em class="ratingStarFilled"></em>
                <em class="ratingStarFilled"></em>
                <em class="ratingStarFilled"></em>
                <em class="ratingStarFilled"></em>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card flex flex-column gap-4 align-items-start">
        <div class="flex align-items-start gap-2">
          <img
            class="photo"
            src="../../../../../assets/images/review-2.svg"
            alt=""
          />
          <div class="infoChip flex flex-column gap-2">
            <div class="info flex flex-column gap-1 align-items-start">
              <h5 class="name">Elisa Steak House</h5>
              <span class="address"
                >62 Maple Avenue, Barrie, ON L4N 1R8</span
              >
            </div>
          </div>
        </div>
        <div class="tags flex gap-2">
          <span class="chip">Chinese</span>
        </div>
        <p class="text-left">
          My daughter and I decided it was time to get some good steaks.
          Unfortunately, Vancouver is bereft of truly excellent steaks since
          Chef Mohammed left Tibisti a few years ago. The price is ridiculous,
          it's not somewhere we will eat regularly (or ever?) but... the steaks
          were truly outstanding. As is mentioned in the Halal Summary above,
          certain suppliers provide Halal meats. I checked each supplier's
          website to confirm. What really impressed me though, was that the
          waiter was extremely knowledgeable and helpful despite being
          non-Muslim. When we ordered only from those suppliers, he guessed we
          wanted Halal (which we confirmed) and then told us he would request
          the 'red wine demi-glaze'...
        </p>
        <div class="reviewer">
          <div class="flex align-items-start gap-2">
            <div class="reviewerImage">
              <img src="../../../../../assets/icons/person-2.svg" alt="" />
            </div>
            <div class="flex flex-column">
              <div class="info flex gap-1">
                <p class="name text-left">Ali Ahmad</p>
                <p class="address">Sammamish, WA</p>
              </div>
              <div class="rating flex gap-1">
                <em class="ratingStarFilled"></em>
                <em class="ratingStarFilled"></em>
                <em class="ratingStarFilled"></em>
                <em class="ratingStarFilled"></em>
                <em class="ratingStarFilled"></em>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card flex flex-column gap-4 align-items-start">
        <div class="flex align-items-start gap-2">
          <img
            class="photo"
            src="../../../../../assets/images/review.svg"
            alt=""
          />
          <div class="infoChip flex flex-column gap-2">
            <div class="info flex flex-column gap-1 align-items-start">
              <h5 class="name">Shahana Steakhouse</h5>
              <span class="address"
                >2285 140th Avenue NE, Bellevue, WA 98005</span
              >
            </div>
          </div>
        </div>
        <div class="tags flex gap-2">
          <span class="chip">American</span>
          <span class="chip">American</span>
          <span class="chip">American</span>
        </div>
        <p class="text-left">
          Amazing and Excellent fresh food. I visit too many places this month,
          and today was my last day here in Seattle, and we found out about this
          restaurant. The guy was there; I assumed he was the owner.
        </p>
        <div class="reviewer">
          <div class="flex align-items-start gap-2">
            <div class="reviewerImage">
              <img src="../../../../../assets/icons/person-2.svg" alt="" />
            </div>
            <div class="flex flex-column">
              <div class="info flex gap-1">
                <p class="name text-left">Sunil Kumar</p>
                <p class="address">Sammamish, WA</p>
              </div>
              <div class="rating flex gap-1">
                <em class="ratingStarFilled"></em>
                <em class="ratingStarFilled"></em>
                <em class="ratingStarFilled"></em>
                <em class="ratingStarFilled"></em>
                <em class="ratingStarFilled"></em>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
