<p-menubar [model]="items" class="pt-0">
  <ng-template pTemplate="start">
    <img src="../../assets/logo.svg" height="40" class="mr-2" />
  </ng-template>
  <ng-template pTemplate="item" let-item>
    <ng-container *ngIf="item.routerLink">
      <a [routerLink]="item.routerLink" class="p-menuitem-link">
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
      </a>
    </ng-container>
  </ng-template>
  <ng-template pTemplate="end">
    <p-button label="Log in" styleClass="p-button-link" (click)="showSignInDialog()"></p-button>
    <button (click)="signUpDialog = true" pButton pRipple label="Sign up" class="p-button-success"></button>
  </ng-template>
</p-menubar>

<p-dialog [(visible)]="signInDialog" [style]="{ width: '532px' }" [draggable]="false" [modal]="true"
  [resizable]="false">
  <app-login *ngIf="signInDialog" (sendSignInOption)="setSignInOption($event)"
    (triggerOpenSignUp)="signInDialog = false; signUpDialog = true " />
</p-dialog>

<p-dialog [(visible)]="getOtpDialog" [style]="{ width: '532px' }" [draggable]="false" [modal]="true" [resizable]="false"
  (onClose)="signInDialog = true; signInOption = ''">
  <app-request-otp [signInOption]="signInOption"
    (sendTokenConfirmationReq)="getTokenConfirmationReq($event)" />
</p-dialog>

<p-dialog [(visible)]="verifyOtpDialog" [style]="{ width: '532px' }" [draggable]="false" [modal]="true"
  [resizable]="false" (onClose)="getOtpDialog = true; signInOption = ''">
  <app-verify-otp *ngIf="verifyOtpDialog" [otpRequest]="otpRequest" (sendUserData)="getUserData($event)"
    (triggerResendOtp)="getResendOtpEvent($event)" />
</p-dialog>

<p-dialog [(visible)]="signUpDialog" [style]="{ width: '532px' }" [draggable]="false" [modal]="true"
  [resizable]="false">
  <app-signup [userData]="user" (triggerRequestOptEvent)="getRequestOptEvent($event)"
  (triggerCloseSignUp)="signUpDialog = false"/>
</p-dialog>