@import "../../../../colors.scss";

.p-dialog {
  .p-dialog-header {
    padding-bottom: 0 !important;
  }
}

.p-menubar {
  background-color: $red-primary;
  height: 76px;
  padding: 15px 52px 15px 52px;
  gap: 11px;
  display: flex;
  justify-content: space-between;
  border-radius: 0;
  margin: -1px;
  .p-menubar-start {
    img {
      width: 142.68px;
      height: 30px;
    }
    flex: 1;
  }
  .p-menubar-root-list {
    flex: 1;
    gap: 16px;
    .p-menuitem {
      .p-menuitem-link {
        opacity: 0.7;
        font-family: "Inter";
        border-radius: 9px;
        &:not(.p-disabled):hover {
          background-color: $red-secondary;
          .p-menuitem-text {
            color: $fontColorLight;
          }
        }
        &:focus{
          box-shadow: none!important;

        }
        .p-menuitem-text {
          color: $fontColorLight;
        }
        &.p-disabled {
          background-color: transparent !important;
          border: none !important;
          opacity: 0.3 !important;
        }
        &.p-menuitem-link-active {
          font-weight: bold;
          background: #610001;
          opacity: 1;
          .p-menuitem-text {
            color: #fff !important;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
          }
        }
      }
    }
  }
  .p-menubar-end {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    .p-button {
      .p-button-label {
        color: $fontColorLight;
      }
    }
  }
}

.round-image {
  display: inline-block;
  overflow: hidden;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  border-radius: 50%; /* Makes it round */
  cursor: pointer;
}

.round-image img {
  width: 100%; /* Ensures the image covers the span */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Removes space below the image */
}
