<div id="loginForm">
  <div class="logoText">
    <img class="logo" src="../../assets/logo.svg" alt="" />
    <h5 class="slogan">
      The original guide to Halal restaurants, markets and more
    </h5>
  </div>
  <div class="form">
    <h4 class="formHeading">Sign up or Log in</h4>
    <p class="formSubText">Select how you would like to continue</p>
    <div class="loginOptions">
      <p-button label="Sign in with email" icon="email"></p-button>
      <p-button label="Sign in with phone " icon="phone"></p-button>
      <p-button label="Continue with Facebook" icon="facebook"></p-button>
      <p-button label="Continue with Apple" icon="apple"></p-button>
    </div>
    <a routerLink="signup" class="formSubText">Don’t have an account?</a>
  </div>
  <div class="bottomSection">
    <img
      class="secondaryImage"
      src="../../assets/people-img-header.svg"
      alt=""
    />
    <hr class="greenBar" />
    <img
      class="triangleLineImage"
      src="../../assets/triangle-image-login.svg"
      alt=""
    />
  </div>
  <div class="footer">
    <p>Serving halal foodies around the world since 1998</p>
  </div>
</div>
