<div id="authDialog">
    <div class="iconHeader">
        <h4 class="heading">Welcome to Zabihah</h4>
        <h5 class="slogan">
            Please add the following information to complete your account.
        </h5>
    </div>
    <div class="mainForm">
        <div class="content">
            <div class="avatar">
                <p-avatar *ngIf="!filePreview"
                    image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle">
                </p-avatar>
                <div *ngIf="filePreview" class="image-preview">
                    <img [src]="filePreview" alt="File Preview" *ngIf="isImageFile" />
                </div>
                <input type="file" (change)="onFileSelected($event)" />
            </div>
        </div>
        <form *ngIf="userForm" [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form">

                <div class="signupForm">
                    <div class="flex gap-3">
                        <div class="flex flex-column gap-2">
                            <label htmlFor="firstName">First name</label>
                            <input pInputText id="firstName" formControlName="firstName" />
                        </div>
                        <div class="flex flex-column gap-2">
                            <label htmlFor="lastName">Last name</label>
                            <input pInputText id="lastName" formControlName="lastName" />
                        </div>
                    </div>
                    <div *ngIf="!_userData?.isPhoneVerified" class="flex flex-column gap-2">
                        <label htmlFor="phoneNumber">Phone number</label>
                        <input class="phoneNumberInput" pInputText id="phoneNumber" placeholder="+1 (555) 000-0000"
                            formControlName="phone" />
                    </div>

                    <div *ngIf="!_userData?.isEmailVerified" class="flex flex-column gap-2">
                        <span class="p-input-icon-left">
                            <i class="email" style="top: 21px"></i>
                            <input type="text" pInputText class="emailInput w-100"
                                placeholder="Enter your email address" formControlName="email" />
                        </span>
                    </div>

                </div>
                <p-checkbox class="p-checkbox w-100" name="groupname" value="val1"
                    label="I agree to terms and conditions." formControlName="termsAndConditions"
                    [binary]="true"></p-checkbox>
                <div class="actionButtons flex flex-column gap-2">
                    <p-button [disabled]="!userForm.valid || !userForm.get('termsAndConditions')?.value"
                        label="Continue" class="cta" type="submit"></p-button>
                </div>
            </div>
        </form>
        <!-- <span class="subText">If you have an account?
            <a (click)="showSignInDialog()" class="redFont">Sign In</a></span> -->
    </div>
</div>

<!-- <p-dialog [(visible)]="getOtpDialog" [style]="{ width: '532px' }" [draggable]="false" [modal]="true" [resizable]="false"
  (onClose)="signInDialog = true;">
  <app-request-otp *ngIf="getOtpDialog" [signInOption]="otpRequest?.type"
    (sendTokenConfirmationReq)="getTokenConfirmationReq($event)" />
</p-dialog>

<p-dialog [(visible)]="verifyOtpDialog" [style]="{ width: '532px' }" [draggable]="false" [modal]="true"
  [resizable]="false" (onClose)="getOtpDialog = true;">
  <app-verify-otp *ngIf="verifyOtpDialog" [otpRequest]="otpRequest" (sendUserData)="getUserData($event)"
    (triggerResendOtp)="getTriggerResendOtpEvent($event)" />
</p-dialog> -->