$red-primary: #820001;
$bg-white: #F5F2F2;
$white:#FFFFFF;
$green-primary: #5EA774;
$red-secondary:#690001;
$dark:#292929;
$success:rgba(18, 183, 106, 1);
$error:#F04438;
$disabled:#F8FAFC;
$grey:#525252;
$warning:#FDB813;
$green-dark:#428456;
$red-login:#990001;
$orange:#DC6803;
$success-50per:rgba(236, 253, 243, 1);
$grey-50:#F8FAFC;
$grey-border:#E3E8EF;
$dark-grey:#364152;
$disabled:#CDD5DF;

$pillColorRed:$red-secondary;
$fontColorDark:$dark;
$fontColorLight:$white;
$iconRed:$red-primary;
$inputBGColor:$white;
$pillColorDark:$grey;
$highlightedText:$warning;