$red-primary: #820001;
$bg-white: #F5F2F2;
$white:#FFFFFF;
$green-primary: #5EA774;
$red-secondary:#690001;
$dark:#292929;
$success:#ECFDF3;
$error:#F04438;
$disabled:#F8FAFC;
$grey:#364152;

$pillColorRed:$red-secondary;
$fontColorDark:$dark;
$fontColorLight:$white;
$iconRed:$red-primary;
$inputBGColor:$white;
$pillColorDark:$grey;