$red-primary: #820001;
$bg-white: #f5f2f2;
$white: #ffffff;
$green-primary: #5ea774;
$red-secondary: #690001;
$dark: #292929;
$success: rgba(18, 183, 106, 1);
$error: #f04438;
$disabled: #f8fafc;
$grey: #525252;
$warning: #fdb813;
$green-dark: #428456;
$red-login: #990001;
$orange: #dc6803;
$success-50per: rgba(236, 253, 243, 1);
$grey-50: #f8fafc;
$grey-border: #e3e8ef;
$dark-grey: #364152;
$disabled: #cdd5df;

$pillColorRed: $red-secondary;
$fontColorDark: $dark;
$fontColorLight: $white;
$iconRed: $red-primary;
$inputBGColor: $white;
$pillColorDark: $grey;
$highlightedText: $warning;
