@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "colors.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "primeicons/primeicons.css";

* {
  font-family: "Inter";
  font-size: 16px;
}
body {
  background-color: $bg-white;
  margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5 {
  color: $fontColorDark;
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

i,
em {
  color: $iconRed;
}
a{
  text-decoration: none;
  color: $fontColorDark;
  &:hover{
    text-decoration: none;
    color: $red-primary;
  }
}
.p-chip {
  background-color: $pillColorRed;
  color: $white;
  font-weight: 500;
  font-size: 14px;
  font-family: "Inter";
  line-height: 20px;
  border-radius: 50px;
  padding: 4px 12px;
}
.p-button {
  border-radius: 9px;
  .p-button-label {
    color: $fontColorDark;
    font-family: "Inter";
    font-weight: 700;
    font-size: 18px;
  }
}

.p-button-success {
  background: $green-primary !important;
  border: none !important;
  .p-button-label {
    color: $white !important;
  }
}
.p-disabled {
  background-color: $disabled;
  border: none !important;
  .p-button-label {
    color: $white !important;
    font-weight: 600;
    font-size: 16px;
  }
}
.p-inputtext {
  border-radius: 12px;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    display: flex !important;
    flex-direction: column !important;
    line-height: 24px !important;
    a {
      text-decoration: none;
      color: $grey;
      font-weight: 500;
    }
  }
}
// icons
.home {
  content: url("/assets/icons/home-24.svg");
}
.hilalFood {
  content: url("/assets/icons/chef-hat-24.svg");
}
.pickup {
  content: url("/assets/icons/scooter-24.svg");
}
.delivery {
  content: url("assets/icons/scooter-red-24.svg");
}
.prayer {
  content: url("/assets/icons/masjid-24.svg");
}
.location {
  content: url("/assets/icons/location-24.svg");
}
.search {
  content: url("/assets/icons/search-24.svg");
}
.email {
  content: url("/assets/icons/sms.svg");
}
.phone {
  content: url("/assets/icons/call.svg");
}
.phoneOutlined {
  content: url("/assets/icons/phone-outlined-24.svg");
}
.facebook {
  content: url("/assets/icons/social-facebook.svg");
}
.apple {
  content: url("/assets/icons/social-apple.svg");
}
.filledStar {
  content: url("/assets/icons/star-filled-24.svg");
}
.outlinedStar {
  content: url("/assets/icons/star-outline-24.svg");
}
.map {
  content: url("/assets/icons/map-24.svg");
}
.likeHeartFilled {
  content: url("/assets/icons/heart-filled-24.svg");
}
.ratingStarFilled {
  content: url("/assets/icons/star-secondary-24.svg");
}
.comment {
  content: url("/assets/icons/message-text-24.svg");
}
.repeat {
  content: url("/assets/icons/repeat-24.svg");
}
.image {
  content: url("/assets/icons/gallery-24.svg");
}
.routing {
  content: url("/assets/icons/routing-24.svg");
}
.twitter {
  content: url("/assets/icons/social-x-24.svg");
}
.facebook {
  content: url("/assets/icons/social-fb-24.svg");
}
.linkedin {
  content: url("/assets/icons/social-linkedin-24.svg");
}
.instagram {
  content: url("/assets/icons/social-insta-24.svg");
}
