<div id="authDialog">
  <div class="iconHeader">
    <img class="logo" src="../../../../assets/images/logo-red.svg" alt="" />
    <h5 class="slogan">
      The original guide to Halal restaurants, markets and more
    </h5>
  </div>
  <div class="mainForm">
    <div class="form">
      <div class="authOptions">
        <p-button label="Sign in with email" (onClick)="sendSignInOption.emit(signInOptions.EMAIL)" icon="email"></p-button>
        <p-button label="Sign in with phone" (onClick)="sendSignInOption.emit(signInOptions.PHONE)" icon="phone"></p-button>
        <p-button label="Continue with Facebook" icon="facebook"></p-button>
        <p-button label="Continue with Apple" icon="apple"></p-button>
      </div>
    </div>
    <span class="subText">Don’t have an account?
      <a class="redFont" style="cursor: pointer;" (click)="triggerOpenSignUp.emit()">Sign up</a>
    </span>
  </div>
</div>